// Vars
@import './vars';

body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: $black;

  }
  
  *,
  *:after,
  *:before {
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }
//   Blocks
// @import 'blocks/container';
@import 'blocks/nav';
@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/mybtn';
@import 'blocks/slider';
@import 'blocks/middle';
@import 'blocks/visitor';
@import 'blocks/map';
@import 'blocks/stat';
@import 'blocks/footer';