.header {
    padding: 20px 0;
    border-bottom: 1px solid #EEEEEE;

    &--bigmap {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}

.header__intro {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header__brand {
    font-size: 14px;
    font-weight: bold;

    img {
        margin-right: 10px;
    }

    a {
        text-decoration: none;
        color: $black;
    }

    span {
        color: $bluOlet;
    }

    
}