.intro__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 0;

    @media (max-width: $mobile) {
        flex-wrap: wrap;
        width: 100%;
    }
}

.intro__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.intro__info__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro__info__title {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: $bluOlet;

    @media (max-width: $mobile--sm) {
        font-size: 16px;
    }
}

.intro__info__item {
    display: flex;
    align-items: center;
}

.intro__info__item__logo {
    margin-right: 4px;
    margin-left: 7px;
}

.intro__info__item__text {
    @media (max-width: $mobile--sm) {
        font-size: 10px;
    }
}

.intro__info__bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: -50px;
    text-align: left;

    button {
        margin-left: 5px;
    }

    @media (max-width: $mobile) {
        margin-left: -50px;
    }

    @media (max-width: $mobile--sm) {
        margin-left: 0;
    }
}

.intro__info__subtitle {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: left;
}

.intro__work {
    text-align: right;

    @media (max-width: $mobile) {
        display: flex;
        text-align: left;
        margin-top: 5px;
    }
}

.intro__work__text {
    font-weight: bold;
    margin-bottom: 1px;

    @media (max-width: $mobile) {
        order: 2;
        margin-bottom: 0;
    }
}

.intro__work__time {
    @media (max-width: $mobile) {
        order: 1;
        margin-right: 5px;
    }
} 

.intro__slider {
    margin-bottom: 2px;
}

.intro__sub__slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2px;

    @media (max-width: $mobile) {
        display: none;
    }
}

.intro__contact {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;

    @media (max-width: $tablet) {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    @media (max-width: $tablet) {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    @media (max-width: $mobile) {
        justify-content: flex-end;

        :first-child {
            flex-direction: column;
        }
    }

    @media (max-width: $mobile--sm) {
        flex-direction: column;
    }

}

.intro__adress {
    margin-top: 8px;
}