.stat {
    width: 35%;
    height: 547px;

    @media (max-width: $tablet) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 268px;
        margin-top: 10px;
    }

    @media (max-width: $mobile) {
        display: block;
        height: 506px;
        order: 1;
    }


    
    
}

.stat__item {
    border: 1px solid #EEEEEE;
    border-radius: 4px;

    @media (max-width: $tablet) {
        width: 49%;
        height: 268px;
        overflow: hidden;
    }

    @media (max-width: $mobile) {
        width: 100%;
        height: auto;
        margin-bottom: 12px;
    }

}

.stat__item__inner {
    margin: 15px;

    :last-child {
        margin-bottom: 15px;
    }
}

.stat__item__title {
    font-size: 14px;
    color: $black;
    font-weight: bold;
    margin-bottom: 10px;
}

.stat__item__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4.5px;

    :last-child {
        margin-bottom: 0;
    }
}

.stat__item__key {
    font-weight: bold;
}

.stat__item__margin {
    margin-top: 10px;
}










